$text: #ffffff;
$background: #1a1a1a;
$selection-text-and-header-background: #333333;
$selection-background-and-link-hover: #38ff9c;
$heading: #38ff9c;
$border: #4d4d4d;

$contessa: #2dcc7c;
$comet: #000000;
$river-bed: #1a1a1a;

$silver: #ccc;
