$text: #ffffff;
$background: #2b303b;
$selection-text-and-header-background: #000000;
$selection-background-and-link-hover: #38ff9c;
$heading: #38ff9c;
$border: #424650;

$contessa: #38ff9c;
$comet: #4f586b;
$river-bed: #424a5a;

$silver: #ccc;
